$colors: (
  background: #040302,
  text: #f5f5f4,
  primary: #fa6d17
);

$bg-color: map_get($colors, background);
$text-color: map_get($colors, text);
$primary-color: map_get($colors, primary);

:export {
  background: $bg-color;
  text: $text-color;
  primary: $primary-color;
}

//$swatch-1: #fa6d17;
//$swatch-2: #040302;
//$swatch-3: #f5f5f4;
//$swatch-4: #944412;
//$swatch-5: #b99a65;
//$swatch-6: #634e3d;
//$swatch-7: #a9a79d;
//$swatch-8: #7c8275;
