$vs-colors: (
  lightest: #ffffff,
  light: #ffffff,
  dark: #ffffff,
  darkest: #ffffff
) !default;

//  Global Component Variables
$vs-component-line-height: 1.4 !default;
$vs-component-placeholder-color: #ffffff !default;

//  Active State
$vs-state-active-bg: $primary-color !default;
$vs-state-active-color: #fff !default;

//  Disabled State
$vs-state-disabled-bg: rgb(248, 248, 248) !default;
$vs-state-disabled-color: #ffffff !default;
$vs-state-disabled-controls-color: #ffffff !default;
$vs-state-disabled-cursor: not-allowed !default;

//  Borders
$vs-border-width: 0.5px !default;
$vs-border-style: solid !default;
$vs-border-radius: 4px !default;
$vs-border-color: #ffffff !default;

//  Component Controls: Clear, Open Indicator
$vs-controls-color: #ffffff !default;
$vs-controls-size: 1 !default;
$vs-controls-deselect-text-shadow: 0 1px 0 #fff;

//  Selected
$vs-selected-bg: #f0f0f0 !default;
$vs-selected-border-color: $vs-border-color !default;
$vs-selected-border-style: $vs-border-style !default;
$vs-selected-border-width: $vs-border-width !default;

//  Dropdown
$vs-dropdown-z-index: 1000 !default;
$vs-dropdown-min-width: 160px !default;
$vs-dropdown-max-height: 350px !default;
$vs-dropdown-box-shadow: none;
$vs-dropdown-bg: #000000 !default;

@import "~vue-select/src/scss/vue-select.scss";

.vs__dropdown-toggle {
  min-width: $vs-dropdown-min-width;
  padding-bottom: 2px;
}
.vs__dropdown-menu {
  padding-top: 0;
  padding-bottom: 0;
}
.vs__search {
  color: inherit;
}
.vs--open {
  .vs__open-indicator {
    transform: scale($open-indicator-size);
  }
}
.vs--single.vs--open {
  .vs__selected {
    opacity: 1;
  }
}
.vs__selected {
  color: #ffffff;
}
/* List Items */
.vs__dropdown-option {
  line-height: $vs-component-line-height;
  color: #ffffff; /* Overrides most CSS frameworks */
  padding: 3px 6px;

  &:hover {
    cursor: pointer;
  }
}
.vs__dropdown-option--highlight {
  background: $vs-state-active-bg;
  color: $vs-state-active-color;
}
.vs__dropdown-option--disabled {
  background: inherit;
  color: $vs-state-disabled-color;

  &:hover {
    cursor: inherit;
  }
}
